.bordure{
    border-radius: 0px 0px 740px 750px ;
    background-color: #f51818;
}

.bg{
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}