.bordure{
    border-radius: 0px 0px 760px 760px ;
    /* background-color: #e0ebeb; */
}

.bg{
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.im{
    background-color: #069999;
}

.real{
    background-color: rgb(196, 245, 245);
}

